div.post-nav.article__nav
	ul.list-unstyled.article-links
		li
			p.small-label Previous Post
			a(href="#")  Lorem ipsum dolor sit amet.
		li
			p.small-label Next Post
			a(href="#")  Lorem ipsum dolor sit amet.
