aside.page-section.sidebar.col.col-sm-12.col-md-4.col-md-offset-1.col-lg-3
	section.sidebar__section
		header.section__header
			h2.sidebar__heading About Benjen
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur soluta, alias maxime sequi temporibus ullam error maiores nemo harum fuga, saepe accusamus nisi obcaecati minima, illum velit facilis. Eius placeat, suscipit est nulla beatae iure.

	section.sidebar__section
		header.section__header
			h2.sidebar__heading Follow Us
		ul.list-inline.social-icons
			li: a(href="#"): i.fa.fa-fw.fa-facebook
			li: a(href="#"): i.fa.fa-fw.fa-twitter
			li: a(href="#"): i.fa.fa-fw.fa-linkedin
			li: a(href="#"): i.fa.fa-fw.fa-pinterest
			li: a(href="#"): i.fa.fa-fw.fa-instagram
			li: a(href="#"): i.fa.fa-fw.fa-wordpress
			li: a(href="#"): i.fa.fa-fw.fa-reddit
			li: a(href="#"): i.fa.fa-fw.fa-behance