div.social__share
	p.small-label Share this post on
	ul.list-inline.social-icons
		li: a(href="#"): i.fa.fa-fw.fa-facebook
		li: a(href="#"): i.fa.fa-fw.fa-twitter
		li: a(href="#"): i.fa.fa-fw.fa-linkedin
		li: a(href="#"): i.fa.fa-fw.fa-behance
		li: a(href="#"): i.fa.fa-fw.fa-reddit
		li: a(href="#"): i.fa.fa-fw.fa-wordpress
