extends master.jade

block hero
	include ../partials/primary-hero.jade

block content
	div.container
		div.row
			section.page-section.col.col-sm-8.col-md-7.col-lg-6
				block body

block footer-content
	include ../partials/footer-widgets.jade