extends layouts/right-sidebar.jade

block body
	div.article.article--single
		header.article__header
			p.article__category: a(href="#") Essay
			h1.article__heading Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		div.longform
			p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempora ab inventore earum, perspiciatis excepturi adipisci fuga exercitationem libero nisi.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, explicabo dolorum deleniti dolor eius itaque, tempore accusamus porro consectetur pariatur cumque alias doloribus magnam aut id neque magni quis a.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, explicabo dolorum deleniti dolor eius itaque, tempore accusamus porro consectetur pariatur cumque alias doloribus magnam aut id neque magni quis a.
			
			h2 Lorem Ipsum Dolor

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			
			h2 Lorem Ipsum Dolor

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			h3 Lorem Ipsum Dolor Sit Amet

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			h4 Lorem Ipsum Dolor Sit Amet

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			h4 Lorem Ipsum Dolor Sit Amet

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			h3 Lorem Ipsum Dolor Sit Amet

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			h2 Lorem Ipsum Dolor

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eligendi rerum illum, ipsam, asperiores libero beatae! Inventore quia consequatur aliquid natus, fugiat iusto rerum id, hic error eaque. Enim, maxime.
				p: cite Dorem Lipsum

			h2 Lorem Ipsum Dolor

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquid provident rem incidunt excepturi totam porro dolorum sequi nostrum adipisci.

		include partials/social-share.jade

		footer.article__footer
			include partials/author-bio.jade
			div.article__meta
				ul.list-unstyled
					li <i class="fa fa-fw fa-calendar"></i> Thursday, 9/25
					li <i class="fa fa-fw fa-tag"></i> <a href="#">Tag</a>, <a href="#">Tag</a>, <a href="#">Tag</a>, <a href="#">Tag</a> 