extends layouts/right-sidebar.jade

block body
	div.article.article--single
		header.article__header
			p.article__category: a(href="#") Essay
			h1.article__heading Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		section.article__body.longform
			p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempora ab inventore earum, perspiciatis excepturi adipisci fuga exercitationem libero nisi.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, explicabo dolorum deleniti dolor eius itaque, tempore accusamus porro consectetur pariatur cumque alias doloribus magnam aut id neque magni quis a.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, explicabo dolorum deleniti dolor eius itaque, tempore accusamus porro consectetur pariatur cumque alias doloribus magnam aut id neque magni quis a.
			
			h2 Lorem Ipsum Dolor

			figure.wp-caption.alignleft
				img.wp-image-1(src="http://unsplash.it/600/400", alt="Placeholder")
				figcaption.wp-caption-text Lorem ipsum dolor sit.
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nisi, quasi assumenda eligendi expedita fuga modi, alias adipisci, earum ipsa sit aut beatae dignissimos nemo. Pariatur dolorem asperiores quam, quo, nemo earum fugit alias. Non quasi dicta assumenda itaque iure, autem nemo velit, fuga, sint impedit obcaecati laudantium porro ipsum, doloremque inventore sit dolorem temporibus sunt. Est animi corporis assumenda tenetur cum rerum autem asperiores optio ea? Maiores laborum, consequatur.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			figure.wp-caption.alignright
				img.wp-image-1(src="http://unsplash.it/600/400", alt="Placeholder")
				figcaption.wp-caption-text Lorem ipsum dolor sit.
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nisi, quasi assumenda eligendi expedita fuga modi, alias adipisci, earum ipsa sit aut beatae dignissimos nemo. Pariatur dolorem asperiores quam, quo, nemo earum fugit alias. Non quasi dicta assumenda itaque iure, autem nemo velit, fuga, sint impedit obcaecati laudantium porro ipsum, doloremque inventore sit dolorem temporibus sunt. Est animi corporis assumenda tenetur cum rerum autem asperiores optio ea? Maiores laborum, consequatur.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			
			h2 Lorem Ipsum Dolor

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			h3 Lorem Ipsum Dolor Sit Amet

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			h4 Lorem Ipsum Dolor Sit Amet

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			ol
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quae voluptatum, dicta.
				li Ipsum ullam debitis nisi mollitia, explicabo ut id repellendus iste odit sapiente?
				li Quae labore veniam quam itaque perspiciatis enim cum aut non error praesentium?
				li Fugiat mollitia reiciendis provident fugit iusto, rem ipsum saepe in pariatur repudiandae!
				li Rem quo officia culpa minus voluptate, saepe in, fugit natus facilis illo.
				li Tempora iusto, omnis sed amet ex minus vero placeat voluptas commodi beatae?

			h4 Lorem Ipsum Dolor Sit Amet

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			ul
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, nihil.
				li Beatae perferendis autem veritatis in, minima temporibus non neque ipsum!
				li Tempore voluptas provident magni maxime, quia recusandae ullam nam porro.
				li Saepe voluptatibus et veniam itaque obcaecati quo, amet esse nihil.
				li Cupiditate quis commodi earum aperiam, dolorem iure voluptatem consequuntur a.

			h3 Lorem Ipsum Dolor Sit Amet

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.

			h2 Lorem Ipsum Dolor

			figure.wp-caption.alignnone
				img.wp-image-1(src="http://unsplash.it/600/400", alt="Placeholder")
				figcaption.wp-caption-text Lorem ipsum dolor sit.

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			
			div.wp-caption.alignnone
				img.wp-image-1(src="http://unsplash.it/600/400", alt="Placeholder")
				p.wp-caption-text Lorem ipsum dolor sit.

			blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eligendi rerum illum, ipsam, asperiores libero beatae! Inventore quia consequatur aliquid natus, fugiat iusto rerum id, hic error eaque. Enim, maxime.
				p: cite Dorem Lipsum

			h2 Lorem Ipsum Dolor

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquid atque delectus explicabo distinctio necessitatibus rem id rerum, quo assumenda saepe omnis obcaecati facere deleniti asperiores! Provident deserunt veritatis, animi voluptas officia? Est, eum, distinctio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquid provident rem incidunt excepturi totam porro dolorum sequi nostrum adipisci.

		footer.article__footer
			include partials/social-share.jade
			include partials/post-nav.jade
			div.article__meta
				include partials/author-bio.jade
				ul.list-unstyled
					li <i class="fa fa-fw fa-calendar"></i> Thursday, 9/25
					li <i class="fa fa-fw fa-tag"></i> <a href="#">Tag</a>, <a href="#">Tag</a>, <a href="#">Tag</a>, <a href="#">Tag</a> 

			include partials/comments.jade

