.articles-list {
	.article {
		& + .article {
			margin-top: 4em;
			padding-top: 3em;
			border-top: 3px solid grey(3);
		}
	}
}

.article--image {

	.article__tn {
		margin-bottom: 1em;
	}
	
	@include bp-min($screen-md) {
		.article-excerpt__body {
			padding-right: 20em;
		}

		.article__tn {
			margin-top: 1em;
			width: 18em;
			float: right;
		}
	}
}

.article__heading {

	.article & {
		margin-top: 0;
	}

	.article--single & {
		line-height: 1.4;
		font-size: 4.25rem;		
	}

	.article-links & {
		margin-top: 0;
		font-family: $font-serif;
		font-size: 1.25rem;
		line-height: 1.4;
		
		a {
			color: grey(60);
		}
	}

	a:hover {
		text-decoration: none;
	}

}

.article__category {
	font-size: 1.25rem;
	font-family: $font-sans;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	display: inline-block;
	color: grey(45);

	.article-links & {
		font-size: 1rem;
		margin-bottom: 0;
		color: grey(20);
	}

	a {
		color: inherit;
		@include transition;

		&:hover {
			text-decoration: none;
			color: $accent-dark;
		}
	}
}

.article-links {
	margin-bottom: 0;

	p {
		margin: 1rem 0 0;
	}
}

.article__author {
	margin-bottom: 4em;

	.author__name {
		font-size: 1.5em;

		small {
			@include small-label;
		}
	}
}

.article__social {
	margin: 4em 0 8em;
}

.article__nav {
	margin: 8em 0 8em;
}

.article__meta {
	border-top: 8px solid grey(5);
	padding-top: 4em;
	margin-bottom: 8em;
	font-family: $font-sans;
	font-size: 1.25rem;

	li {
		& + li {
			margin-top: 1rem;
		}
	}

	.fa {
		background-color: grey(5);
		width: 3.5rem;
		display: inline-block;
		padding: 1rem 0;
		border-radius: .5rem;
		margin-right: 1rem;
	}
}

.article__comments {
	border-top: 1px solid grey(10);
	margin-bottom: 3em;

	.comments-list {
		margin-bottom: 4em;
	}
}
