nav,
nav a {
	font-family: $font-sans;
}

.site-header {
	&.dark {

		&,
		a,
		p,
		h1,h2,h3,h4,h5,h6,
		ul > li > a {
			color: #FFFFFF;
		}

		a:hover,
		.navbar-brand:hover,
		ul > li> a:hover {
			color: grey(20);
		}
	}
}


.navbar {
	padding: 2em 0;

	li.search {
		display: flex;
		align-items: center;

		a {
			@include bp-max($screen-sm) {
				display: none;			}
		}

		form {
			width: 100%;
			@include transition;
			@include bp-min($screen-sm) {
				width: 0;
				opacity: 0;
				overflow: hidden;
			}
		}

		&.opened {

			.fa {
				color: white;
			}

			form{
				width: 100%;
				opacity: 1;
				// overflow: normal;
			}

		}

		input {
			background-color: grey(10);
			color: black;
			border-radius: 0;
			box-shadow: none;
			border: none;
			border-bottom: 3px solid grey(10);

			&:focus {
				border-color: grey(60);
			}
		}
	}
}

.navbar-collapse {
	border: none;

	@include bp-max($screen-sm) {
		.nav li {
			border-top: 1px solid grey(10);
			padding: 1.5em 0;

			a {
				padding: 0;
			}
		}	

		.navbar-nav {
			margin: 2em 0 0;
		}	
	}
}

// Clean version of navbar as default class
.navbar-clean {
  @extend .navbar-default;
  background: none;
  border: none;
}

.post-nav {	
	li {
		padding: 1em 0 2em;
		border-top: 1px solid grey(5);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	a {
		font-size: 1.75rem;
	}

	.nav__content {
		// width: 90%;
	}

	.nav__button {
		font-size: 2.5rem;
		padding-top: 2rem;
		padding-right: 1rem;
		color: grey(15);
		width: 10%;
		text-align: right;
	}
}