mixin article--index
	article.article.article__index
		header.article__header
			p.article__category: a(href="/archive.html") Essay
			h3.article__heading.h2: a(href="single.html") Lorem ipsum dolor.
		div.article__excerpt
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ratione incidunt ipsa explicabo architecto laudantium. Non illum incidunt fugiat est.
			p: a.read-more(href="single.html") Read More

mixin article--index--image
	article.article.article__index.article--image
		div.article__content.clearfix
			div.article__tn
				img(src="https://unsplash.it/300/300", alt="Article Thumbnail")
			div.article-excerpt__body
				header.article__header
					p.article__category: a(href="/archive.html") Essay
					h3.article__heading.h2: a(href="/single-image.html") Lorem ipsum dolor.
				div.article__excerpt
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ratione incidunt ipsa explicabo architecto laudantium. Non illum incidunt fugiat est.
					p: a.read-more(href="single.html") Read More

div.articles-list
	+article--index--image
	+article--index
	+article--index--image
	+article--index--image
	+article--index
	+article--index
