section.article__author
	img.author__pic.avatar(src="http://unsplash.it/150?image=89", alt="Author Pic")
	h4.author__name <small>Published by</small>Benjen Stark
	p.author__bio Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, dolore. Doloribus veritatis quibusdam enim possimus sequi, alias deleniti consectetur, quas consequuntur, tenetur corrupti. Totam, corporis!
