nav
	div.container
		header.navbar-header.col-sm-4
			div.group
				div.col-10.col-md-12
					h2.navbar-brand: a(href="/") Author Theme
				div.col-2.navbar-toggle
					a.btn.btn-default(href="#"): i.fa.fa-fw.fa-bars

		div.nav-menu.navbar-collapse.col-12.col-sm-8
			ul.navbar__items.navbar--right
				li: a(href="/") Home
				li: a(href="/business.html") Business
				li.dropdown
					a(href="#") Blog
					ul.dropdown__items
						div.nav-container
							li: a(href="/blog-index.html") Index
							li: a(href="/blog-single-sidebar.html") Article w/ Sidebar
				li: a(href="/contact.html") Contact