article.widget
	h4.widget__heading Recent Posts
	div.widget__body
		ul.widget-post-list.list-unstyled
			li.widget-post
				img(src="http://unsplash.it/600/300", alt="Widget Post")
				p.widget-post__date Dec 12
				h5.widget-post__title: a(href="#") Widget Post in Sidebar
			li.widget-post
				img(src="http://unsplash.it/600/300", alt="Widget Post")
				p.widget-post__date Dec 12
				h5.widget-post__title: a(href="#") Widget Post in Sidebar
			li.widget-post
				img(src="http://unsplash.it/600/300", alt="Widget Post")
				p.widget-post__date Dec 12
				h5.widget-post__title: a(href="#") Widget Post in Sidebar
			li.widget-post
				img(src="http://unsplash.it/600/300", alt="Widget Post")
				p.widget-post__date Dec 12
				h5.widget-post__title: a(href="#") Widget Post in Sidebar

article.widget.widget--links
	h4.widget__heading Featured Links
	div.widget__body
		ul.list-unstyled
			li.widget__link: a(href="#") Lorem ipsum dolor sit.
			li.widget__link: a(href="#") Cum fuga omnis nulla.
			li.widget__link: a(href="#") Dolorum vitae aspernatur voluptatem!
			li.widget__link: a(href="#") Eaque consectetur officiis possimus.
			li.widget__link: a(href="#") Incidunt, aliquam magnam error.

article.widget.widget--social
	h4.widget__heading Social
	div.widget__body
		ul.list-inline
			li: a(href="#").btn--small.btn-default: i.fa.fa-fw.fa-facebook
			li: a(href="#").btn--small.btn-default: i.fa.fa-fw.fa-twitter
			li: a(href="#").btn--small.btn-default: i.fa.fa-fw.fa-pinterest
			li: a(href="#").btn--small.btn-default: i.fa.fa-fw.fa-linkedin
			li: a(href="#").btn--small.btn-default: i.fa.fa-fw.fa-behance
			li: a(href="#").btn--small.btn-default: i.fa.fa-fw.fa-instagram
			li: a(href="#").btn--small.btn-default: i.fa.fa-fw.fa-github
			li: a(href="#").btn--small.btn-default: i.fa.fa-fw.fa-rss
