aside.page-section.sidebar.col.col-sm-12.col-md-4.col-md-offset-1.col-lg-3
	section.sidebar__section.article-links
		div.widget.recent_posts-widget
			header.widget__header
				h2.widget__heading Recent Posts
			ul.list-unstyled
				li
					p: a.article__category(href="/archive.html") Lorem
					h4.article__heading: a(href="#") Lorem ipsum dolor sit amet.
				li
					p: a.article__category(href="/archive.html") Lorem
					h4.article__heading: a(href="#") Vero, pariatur non amet ducimus!
				li
					p: a.article__category(href="/archive.html") Lorem
					h4.article__heading: a(href="#") Aut inventore quis sint, vel!
				li
					p: a.article__category(href="/archive.html") Lorem
					h4.article__heading: a(href="#") Nam deserunt blanditiis, asperiores in.
				li
					p: a.article__category(href="/archive.html") Lorem
					h4.article__heading: a(href="#") Corrupti, provident labore quis molestias!

	section.sidebar__section
		div.text-widget
			header.widget__header
				h2.widget__heading About Benjen
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur soluta, alias maxime sequi temporibus ullam error maiores nemo harum fuga, saepe accusamus nisi obcaecati minima, illum velit facilis. Eius placeat, suscipit est nulla beatae iure.

	section.sidebar__section
		div.widget.social-widget
			header.widget__header
				h2.widget__heading Follow Us
			ul.list-inline.social-icons
				li: a(href="#"): i.fa.fa-fw.fa-facebook
				li: a(href="#"): i.fa.fa-fw.fa-twitter
				li: a(href="#"): i.fa.fa-fw.fa-linkedin
				li: a(href="#"): i.fa.fa-fw.fa-pinterest
				li: a(href="#"): i.fa.fa-fw.fa-instagram
				li: a(href="#"): i.fa.fa-fw.fa-wordpress
				li: a(href="#"): i.fa.fa-fw.fa-reddit
				li: a(href="#"): i.fa.fa-fw.fa-behance