$accent-dark: #474771;
$fa-font-path:        "../src/vendor/font-awesome/fonts";

$font-sans: 'Roboto', Helvetica, Arial, sans-serif;
$font-serif: 'Merriweather', Georgia, serif;

$font-family-sans-serif:  $font-sans;
$font-family-serif:       $font-serif;
$font-family-base:        $font-family-serif !default;

$headings-font-family:    $font-sans;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


$line-height-base: 1.6;
$line-height-computed: 1.6;

// $grid-gutter-width: 16px;