.sidebar {

	.widget + .widget {
		margin-top: 6em;
	}

}

.widget__heading {
	color: grey(40);
	font-family: $font-sans;
	font-size: mt(-1);
	font-weight: 600;
	@include tracking(.125em);
	@include block-separator();
}

.widget-post {
	& + & {
		margin-top: 2em;
	}
}

.widget-post__date {
	font-size: mt(-2);
	color: grey(40);
	margin: .5em 0 0;
}

.widget-post__title {
	margin-top: .25em;
	font-size: mt(-1);

	a {
		@include hover-link($underline: underline);
	}
}