extends layouts/no-sidebar.jade

block body
	div.articles
		header.section__header
			h2.section__heading Tagged: Essay

		div.articles-list

			article.article.article__index
				header.article__header
					p.article__category: a(href="/archive.html") Essay
					h3.article__heading.h2: a(href="single.html") Lorem ipsum dolor.
				div.article__excerpt
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ratione incidunt ipsa explicabo architecto laudantium. Non illum incidunt fugiat est.
					p: a.read-more(href="single.html") Read More

			article.article.article__index
				header.article__header
					p.article__category: a(href="/archive.html") Essay
					h3.article__heading.h2: a(href="single.html") Lorem ipsum dolor.
				div.article__excerpt
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ratione incidunt ipsa explicabo architecto laudantium. Non illum incidunt fugiat est.
					p: a.read-more(href="single.html") Read More

			article.article.article__index
				header.article__header
					p.article__category: a(href="/archive.html") Essay
					h3.article__heading.h2: a(href="single.html") Lorem ipsum dolor.
				div.article__excerpt
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ratione incidunt ipsa explicabo architecto laudantium. Non illum incidunt fugiat est.
					p: a.read-more(href="single.html") Read More

			article.article.article__index
				header.article__header
					p.article__category: a(href="/archive.html") Essay
					h3.article__heading.h2: a(href="single.html") Lorem ipsum dolor.
				div.article__excerpt
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ratione incidunt ipsa explicabo architecto laudantium. Non illum incidunt fugiat est.
					p: a.read-more(href="single.html") Read More

			article.article.article__index
				header.article__header
					p.article__category: a(href="/archive.html") Essay
					h3.article__heading.h2: a(href="single.html") Lorem ipsum dolor.
				div.article__excerpt
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ratione incidunt ipsa explicabo architecto laudantium. Non illum incidunt fugiat est.
					p: a.read-more(href="single.html") Read More


