extends layouts/no-sidebar.jade

block body
	div.article.article--single
		section.article__body.longform
			h1.h2 Contact Us
			p.lead For all inquiries, you can send us a message by filling out the form below. For more updates and posts from me, please follow us on social media.
			ul.list-inline.social-icons
				li: a(href="#"): i.fa.fa-fw.fa-facebook
				li: a(href="#"): i.fa.fa-fw.fa-twitter
				li: a(href="#"): i.fa.fa-fw.fa-linkedin
				li: a(href="#"): i.fa.fa-fw.fa-behance
				li: a(href="#"): i.fa.fa-fw.fa-reddit
				li: a(href="#"): i.fa.fa-fw.fa-wordpress
				li: a(href="#"): i.fa.fa-fw.fa-instagram
				li: a(href="#"): i.fa.fa-fw.fa-pinterest
				li: a(href="#"): i.fa.fa-fw.fa-github
			hr.spacer
			form
				div.row
					div.form-group.col-sm-6
						label.control-label(for="commentName") Name
						div
							input#commentName.form-control(type="text", placeholder="Jane Doe", required)

					div.form-group.col-sm-6
						label.control-label(for="commentEmail") Email
						div
							input#commentEmail.form-control(type="email", placeholder="jane.doe@example.com", required)
				
				div.row
					div.form-group.col-sm-12
						label.control-label(for="inquiryType") Inquiry Type
						div
							select#inquiryType.form-control(required)
								option Message
								option Project Request
								option Guest Post
								option Legal & Business

				div.row
					div.form-group.col-sm-12
						label.control-label(for="message") Message
						div
							textarea.form-control(name="message", rows="10", required)

				div.form-group
					button.btn.btn-default(type="submit") Send Message
