doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title JCD Author Theme
		meta(name="description", content="JCD Author Theme")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/style.css")

	body
		block header			
			
		main.page-content
			block content

		footer.site-footer.dark
			div.container
				block footer-content
				section.copyright-section
					ul.list-inline
						li: h6.copyright &copy; Copyright 2015 <a href="http://www.jakecooperdesign.com">Jake Cooper Design</a>. All rights reserved.
						li: <a href="#">Benjen Theme</a> by <a href="http://www.jakecooperdesign.com">Jake Cooper Design</a>.
		
		script(src="vendor/jquery/dist/jquery.min.js")
		script(src="vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js")
		script(src="/js/scripts.js")